<div class="grid_12 bg">
    <div class="cell width_12">
        <p>
            940
        </p>
    </div>

    <div class="cell width_1">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_11">
        <p>
            860
        </p>
    </div>

    
    <!-- PREFIX && SUFFIX -->
    
    
    <div class="cell width_1 suffix_11">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_1 suffix_10">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_2 suffix_9">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_3 suffix_8">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_4 suffix_7">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_5 suffix_6">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_6 suffix_5">
        <p>
            60
        </p>
    </div>

    <div class="cell width_1 prefix_7 suffix_4">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_8 suffix_3">
        <p>
            60
        </p>
    </div>
    
    <div class="cell width_1 prefix_9 suffix_2">
        <p>
            60
        </p>
    </div>

    <div class="cell width_1 prefix_10 suffix_1">
        <p>
            60
        </p>
    </div>

    <div class="cell width_1 prefix_11">
        <p>
            60
        </p>
    </div>
    
    
    <!-- PULL && PUSH -->


    <div class="row">
        <div class="cell width_6 push_6">
            <div class="cell width_1 alpha">
                <p>
                    w1
                </p>
            </div>
            
            <div class="cell width_3">
                <p>
                    w3
                </p>
            </div>
            
            <div class="cell width_2 omega">
                <p>
                    w2
                </p>
            </div>
            
            <div class="cell width_3 alpha">
                <p>
                    w3
                </p>
            </div>
            
            <div class="cell width_3 omega">
                <p>
                    w3
                </p>
            </div>
        </div>
      
        <div class="cell width_6 pull_6">
            <div class="cell width_4 alpha">
                <p>
                    w4
                </p>
            </div>
            
            <div class="cell width_2 omega">
                <p>
                    w2
                </p>
            </div>
            
            <div class="cell width_6 alpha">
                <p>
                    w6
                </p>
            </div>
            
            <div class="cell width_1 alpha">
                <p>
                    w1
                </p>
            </div>
            
            <div class="cell width_5 omega">
                <div class="cell width_2">
                    <p>
                        w2
                    </p>
                </div>
                
                <div class="cell width_1 prefix_1 suffix_1">
                    <p>
                        w1
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
