<article id="typography">
    <p class="gigantic">
        Typography judgeq
        <!--
        Typography judgeq
        Typography judgeq
        Typography judgeq
        Typography judgeq
        Typography judgeq
        Typography judgeq
        Typography judgeq
        -->
    </p>
    
    <h1>
        Protos realisation judge (h1)
        <!--
        Protos realisation judge (h1) Protos realisation judge (h1)
        -->
    </h1>
    <p>
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <!--
    <p>
        <input id="distributive" list="distributive_list" name="distributive" type="text" />
    </p>
    -->
    <p>
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <div style="background: #888; padding: 10px;">
        <img alt="avatar" class="avatar" src="image/40x40-avatar.jpg" >
    </div>
    
    <p>
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <h2>
        Protos realisation judge (h2)
        <!--
        Protos realisation judge (h2) Protos realisation judge (h2) Protos realisation judge (h2) Protos realisation judge (h2)
        Protos realisation judge (h2) Protos realisation judge (h2)
        -->
    </h2>
    <p>
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <h3>
        Protos realisation judge (h3)
        <!--
        Protos realisation judge (h3) Protos realisation judge (h3) Protos realisation judge (h3) Protos realisation judge (h3) 
        -->
    </h3>
    
    <div class="bg space_4">
        <a><img alt="img" class="picture shadow" src="image/smarine.jpg" /></a>
    </div>
    
    <figure class="image">
        <ul class="actions block_set reversed">
            <li>
                <a href="image/smarine.jpg" target="_blank">Скачать</a>
            </li>
            <li>
                <a href="image/smarine.jpg">Открыть</a>
            </li>
            <li>
                <span class="link">+fav</span>
            </li>
            <li>
                <span class="link">+link</span>
            </li>
        </ul>
        
        <img src="image/smarine.jpg" alt="img" />
        <figcaption>
            Vector Trooper
        </figcaption>
    </figure>
    <p class="indent">
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    <p class="indent">
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <h3>
        Protos realisation judge (h3)
        <!--
        Protos realisation judge (h3) Protos realisation judge (h3) Protos realisation judge (h3) Protos realisation judge (h3) 
        -->
    </h3>
    <p>
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <h4>
        Protos realisation judge (h4)
        <!--
        Protos realisation judge (h4) Protos realisation judge (h4) Protos realisation judge (h4) Protos realisation judge (h4) Protos realisation judge (h4) Protos realisation judge (h4) Protos realisation judge (h4) Protos realisation judge (h4)
        -->
    </h4>
    <p>
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
        So says <q>the typographer <q>Robert Bringhurst</q>, and just as regular use of time provides rhythm in music</q>, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <h5>
        Protos realisation judge (h5)
        <!--
        Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5) Protos realisation judge (h5)
        -->
    </h5>
    <p class="small">
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <h6>
        Protos realisation judge (h6)
        <!--
        Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6) Protos realisation judge (h6)
        -->
    </h6>
    <p class="small">
        <b>Note:</b> It's still okay to use &lt;b&gt; and &lt;i&gt; tags in <i>HTML5</i> and they don't have to be styled bold and italic, respectively (although if there is a more semantic element, use it). &lt;b&gt; is meant to highlight words or phrases without conveying additional importance, while &lt;i&gt; is mostly for voice, technical terms, etc.
    </p>
    
    <blockquote>
        <p>
            Молчи, пока ты не в состоянии сказать нечто такое, что полезнее твоего молчания.
        </p>
        <footer>
            &ndash;
            <cite>
                <a href="http://ru.wikipedia.org/wiki/Архимед">Архимед</a>
            </cite>
        </footer>
    </blockquote>
    
    <blockquote class="verse">
        <pre>Мокрая, будто ее облизали,
толпа.
Прокисший воздух плесенью веет.
Эй!
Россия,
нельзя ли
чего поновее?</pre>
        <footer>
            &ndash; Владимир Маяковский, 1916
        </footer>
    </blockquote>
    
    {definition_list}
</article>
