<div class="block_set container_12">
    <div class="block_set">
        <div class="grid_12">
            <p>
                940
            </p>
        </div>
        <!-- end .grid_12 -->
    </div>

    <div class="block_set">
        <div class="grid_1">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1 -->
        <div class="grid_11">
            <p>
                860
            </p>
        </div>
        <!-- end .grid_11 -->
    </div>
    
    
    <!-- PREFIX && SUFFIX -->
    
    
    <div class="block_set">
        <div class="grid_1 suffix_11">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.suffix_11 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_1 suffix_10">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_2 suffix_9">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_3 suffix_8">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_4 suffix_7">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_5 suffix_6">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_6 suffix_5">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_7 suffix_4">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_8 suffix_3">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_9 suffix_2">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_10 suffix_1">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    <div class="block_set">
        <div class="grid_1 prefix_11">
            <p>
                60
            </p>
        </div>
        <!-- end .grid_1.prefix_1.suffix_10 -->
    </div>
    
    
    <!-- PULL && PUSH -->
    
    
    <div class="grid_6 push_6 grid_set">
        <div class="block_set">
            <div class="grid_1">
              <p>
                60
              </p>
            </div>
            <!-- end .grid_1.alpha -->
            <div class="grid_3">
              <p>
                380
              </p>
            </div>
            <!-- end .grid_3 -->
            <div class="grid_2">
              <p>
                380
              </p>
            </div>
            <!-- end .grid_2.omega -->
        </div>
        
        <div class="block_set">
            <div class="grid_3">
              <p>
                220
              </p>
            </div>
            <!-- end .grid_3.alpha -->
            <div class="grid_3">
              <p>
                220
              </p>
            </div>
            <!-- end .grid_3.omega -->
        </div>
    </div>
    <!-- end .grid_6.push_6 -->
  
  
    <div class="grid_6 pull_6 grid_set">
        <div class="block_set">
            <div class="grid_4">
              <p>
                220
              </p>
            </div>
            <!-- end .grid_6.alpha.omega -->
            <div class="grid_2">
              <p>
                220
              </p>
            </div>
            <!-- end .grid_6.alpha.omega -->
        </div>
        
        <div class="block_set">
            <div class="grid_6">
              <p>
                220
              </p>
            </div>
            <!-- end .grid_6.alpha.omega -->
        </div>
        
        <div class="block_set">
            <div class="grid_1">
              <p>
                60
              </p>
            </div>
            <!-- end .grid_1.alpha -->
            <div class="grid_5">
              <p>
                380
              </p>
            </div>
            <!-- end .grid_5.omega -->
        </div>
    </div>
    <!-- end .grid_6.pull_6 -->
</div>
