<article id="typography">
    <!--
    <header>
        <div class="banner">
            <h1>
                <a href="#[current.url]" class="article_title" rel="bookmark" title="Permanent link to Protos typography">
                    Protos typography
                </a>
            </h1>
        </div>
    </header>
    -->
    <h1>Protos typography</h1>
    <footer>
        <p>Published on <time datetime="2011-08-27" pubdate>27 August 2011</time> in the <a href="#">html</a>, <a href="#">css</a>, <a href="#">typography</a> category.</p>
    </footer>
    <p>
        <!--
        <q>
            Space in typography is like time in music.
            It is infinitely divisible, but a few proportional intervals can be much more useful than a limitless choice of arbitrary quantities.
        </q>
        -->
        So says the typographer Robert Bringhurst, and just as regular use of time provides rhythm in music, so regular use of space provides rhythm in typography, and without rhythm the listener, or the reader, becomes disorientated and lost.
    </p>
    
    <p class="small">
        Порой то, что кажется вам удивительно сложным, для других может быть привычным делом, как и наоборот. На протяжении всей истории своего развития человечество добивалось своих целей только сообща. Упускать потенциал современных технологий и стараться сделать что-либо стоящее в одиночку просто бессмысленно. Именно здесь без каких-либо ограничений и вне зависимости от уровня ваших знаний «КиберШестерня» поможет вам обогатить, расцветить вашу идею и дать ей жизнь.
    </p>
    
    <p>
        Если вас заинтересовала идеология движения «КиберШестерни» вы можете в удобной для вас форме связаться с нами для получения более детальной информации или приглашения.
    </p>

    <p>
        Реализуйте ваши желания при помощи инструментов и сообщества «КиберШестерни»! Если вы опасаетесь, что ваш проект слишком сложен, здесь всегда найдутся люди, готовые помочь привести его в движение, ибо он уже является частью «КиберШестерни».
    </p>
    
    <!--
    <h1 class="gigantic">smile... that's vseh razdrazhaet! ;)</h1>
    
    <!-- <details open="open"> -->
    <!--
    <details>
        <summary>
            <h2>Roadmap (clickable)</h2>
        </summary>
        <ul class="poll">
            {typo_progress}        
            <li>after all go to doctor and recheck!</li>
        </ul>
    </details>
    
    <style>
        .tabs {
            border-bottom: 2px solid #ccc;
            box-shadow: 0 1px 0 0 #111;
            list-style-type: none;
        }

        .tabs li {
            border-bottom: 2px solid transparent;
            margin-right: 10px;
            position: relative;
            top: 2px;
        }

        .tabs li:hover {
            border-bottom: 2px solid purple;
        }
    </style>
    <ul class="tabs block_set">
        <li>tab one</li>
        <li>tab two</li>
        <li>tab three</li>
    </ul>
    
    -->
    <h3>Эй!</h3>
    <blockquote class="verse">
        <pre>Мокрая, будто ее облизали,
толпа.
Прокисший воздух плесенью веет.
Эй!
Россия,
нельзя ли
чего поновее?</pre>
        <cite>Владимир Маяковский, 1916</cite>
    </blockquote>
    
    <h4>Определения</h4>
    <dl class="lst">
        <dt>GIF</dt>
        <dd>Формат графических файлов, широко применяемый при создании сайтов. 
        GIF использует 8-битовый цвет и эффективно сжимает сплошные цветные области, 
        при этом сохраняя детали изображения.</dd>
        
        <dt>JPG</dt>
        <dt>JPEG</dt>
        <dd>Популярный формат графических файлов, широко применямый при создании 
        сайтов и хранения изображений. JPEG поддерживает 24-битовый цвет и сохраняет 
        яркость и оттенки цветов в фотографиях. Данный формат называют сжатием с потерями, 
        поскольку алгоритм JPEG выборочно отвергает данные. Метод сжатия может исказить 
        деталь в рисунке, особенно содержащий текст или изображение с четкими краями. 
        Формат JPEG не поддерживает прозрачность, когда вы сохраняете фотографию в формате 
        JPEG, прозрачные пиксели заполняются определенным цветом.</dd>
    </dl>
    
    <h5>Don't know what to say?!</h5>
    
    <h6>Blockquote frenzy</h6>
    <article>
        <h1>
            <a href="#yo">Bacon on a crowbar</a>
        </h1>
        <article>
            <header>
                <strong>t3yw</strong> 12 points 1 hour ago
            </header>
            <p>I bet a narwhal would love that.</p>
            <footer>
                <a href="#pid=29578">permalink</a>
            </footer>
            <article>
                <header>
                    <strong>greg</strong> 8 points 1 hour ago
                </header>
                <blockquote>
                    <p>I bet a narwhal would love that.</p>
                </blockquote>
                <p>Dude narwhals don't eat bacon.</p>
                <footer><a href="#pid=29579">permalink</a></footer>
                <article>
                    <header>
                        <strong>t3yw</strong> 15 points 1 hour ago
                    </header>
                    <blockquote>
                        <blockquote>
                            <p>I bet a narwhal would love that.</p>
                        </blockquote>
                        <p>Dude narwhals don't eat bacon.</p>
                    </blockquote>
                    <p>Next thing you'll be saying they don't get capes and wizard hats either!</p>
                    <footer><a href="#pid=29580">permalink</a></footer>
                    <article>
                        <article>
                            <header>
                                <strong>boing</strong> -5 points 1 hour ago
                            </header>
                            <p>narwhals are worse than ceiling cat</p>
                            <footer><a href="#pid=29581">permalink</a></footer>
                        </article>
                    </article>
                </article>
            </article>
            <article>
                <header>
                    <strong>fred</strong> 1 points 23 minutes ago
                </header>
                <blockquote>
                    <p>I bet a narwhal would love that.</p>
                </blockquote>
                <p>I bet they'd love to peel a banana too.</p>
                <footer><a href="#pid=29582">permalink</a></footer>
            </article>
        </article>
    </article>
    
</article>
